body { 
  background: url(../images/swirl_lighter_ca6f4deb.png);
  padding: 0;
  margin-bottom: 1px;
  padding-bottom:0;
  display: flex;
  flex-direction: column;   
  box-sizing: border-box;  
  min-height: 98vh;
  font-family:"HelveticaNeue",Helvetica,Arial,sans-serif;  
  font-size: 14px;
  line-height:1.4285;
  color:#333;
  }

.icce .navbar {
	color:#FFFFFE; 
	padding: 0;
	max-width: 60rem;
    margin: auto;
}

.icce .navbar-nav {
	flex-direction: row;
}

.icce .navbar-nav .navbar-item {
	color:#FFFFFE;
	border-right-style: solid;
	border-right-color: #FFFFFE;
	border-right-width: 1px;
	margin-top: 5px; 
	margin-bottom: 10px;
	padding: 0 10px;	 
}

.icce .navbar-nav .navbar-item:last-child {
	border-right-style: none;
}

.icce .navbar-nav .navbar-item:first-child {
	padding: 0 10px 0 5px;
}

.icce .navbar-nav a {
	color:#FFFFFE;
    padding-top: 0px;
    padding-bottom: 0px;
}
 
@media (max-width:375px){
	.icce .navbar-nav a {font-size: 11px;}
	.logo img {height:2rem;}
	.icce .usflag {font-size:.75em;};
} 

.icce .h1, h1{
	font-size:29px
}
  
.h1,.h2,.h3,h1,h2,h3{margin-top:20px;margin-bottom:10px;line-height:1.1}
 
.h1,.h2,.h3,.h4,.h5,.h6{font-family:inherit;font-weight:500;line-height:1.0;color:inherit}
  
.label{display:inline-block;margin-bottom:5px;font-weight:700}
  
.icce .control-label{font-weight:700}
  
.help-block{color: #a94442} 
  
.privacytext{color:#428bca}

.btn{white-space:normal}

.icce .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #004673;
}

.icce .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0 #004673;
}

.icce .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #004673;
    border-color: #004673;
}

.icce .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #004673;
    border-color: #004673;
}

html {
  display: flex;
  flex-direction: column;
  position:relative;
  min-height:100%
}

header {
 
  text-align: center;
}

hr {
 
  margin: 0.5rem 0;
}

.collapsibleButtonIcon:focus{outline:none !important;}

main {

  background: white;
  border: solid 1px #ccc;
  border-radius: 2rem;
  margin: auto;
  max-width: 60rem;
  padding: 2rem;
  margin-bottom: 8rem;
  margin-top: 1rem;
}

.notice-button {
    background: #0099cc;
    color: #ffffff;    
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;    
    line-height:20px;
    margin-top: 1rem;
    width:210px;
}

.notice-button:disabled {
   background-color:gray;
}

@media (max-width:767px){.notice-button{width:100%}}

.login-submit-button {
    background: #0099cc;
    color: #ffffff;    
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;    
    line-height:20px;
    margin-top: 1rem;
    min-width:210px    
}

.login-submit-button:disabled {
   background-color:gray;
}

.login-submit-buttonsecondary {
    background: #ffffff;
    color: #0099cc;  
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;    
    line-height:20px;    
    min-width:80px;
    border:1px solid #0099cc   
}

.login-submit-buttonsecondary:disabled {
   background-color:gray;
}

.print-button {
 
  background: none;
  border: none;
  display: flex;
  padding: 0.5rem;
}

.flex-container {
 display: flex;
 justify-content: flex-end;
 align-items: stretch;
} 

.print-button svg {
 
  margin-right: 0.5rem; 
}

footer {
 
  padding: 0 1rem 0 1rem;  
  margin-top:0px;
  height: 50px;
  left: 0;
  right: 0;  
  bottom: 0;
  flex: 0 0 auto;
  padding: 2px 0; 
  max-width: 100% !important;
  overflow-x: hidden; 
}

.footer-divider
{
  margin-top: -1.1em;
  vertical-align:top;
  height: 30px; 
  padding-left:5px;
  padding-right:5px;
  color:white; 
}

.footer-links a {
 
  text-decoration: none;
}

.container-fluid {
  padding-top: 0px;
}

.dividers
{
  margin-top: 18px;
  vertical-align:middle;
  height: 10px;
  margin-bottom:15px;  
}


.flagtext
{
	height:25px;
	background: #f1f1f1;
	width:auto;
	overflow:hidden;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
    font-weight: normal;	
}

div.ui-dialog-buttonpane > div > button:first-child {
  background-color: #0071B3;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
}

div.ui-dialog-buttonpane > div > button:nth-child(2) {
  background-color: white;
  border: solid 1px #0071B3;
  border-radius: 3px;
  color: #0071B3;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
}

div.ui-dialog-buttonpane {
  background-color: white;	
}

#expire-content {
  background-color: white;
}
#expire-text {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 24px;
  border: none;
  padding: 5px 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.expire.ui-dialog-titlebar-close {
  background: white url(../images/expire-close.svg) no-repeat center;
  display: none;
}

.expire.ui-widget-header {
  background: #013F66;
  border: 1px solid #0071B3;
}

.expire.ui-widget-content {
	background-color: white;
}

.ui-widget-header {
   color: #fff;
   font-weight: bold;
}

.divHelpTipCollapsible {
 border: 1px solid #CCC;
 margin: 0 0 1rem 0;
 padding: 16px;
}

.divHelpTipCollapsibleContent {
 border: 1px solid #CCC;
 padding: 10px;
 background-color: #e0e0e0;
}

.div-session-timeout {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 8px;
  text-align: center;
}

.usflag
{
	font-size:.81em;
	padding-left:25px;
	background:url(../images/us-flag_b22a832d.png) 0 center no-repeat;
	background-size:20px 14px;	
    overflow:hidden;
    width:27em;  
    margin-top: 3px; 
    margin-bottom: 3px;     
}


.fsad-button {
 
  margin: 0;
  width: 100%;
}

.fsad-button-pair > div {
 
  margin: 2rem 0 0 0;
}

.fsad-hint {
  
  display: block;
  font-weight:normal;
}

.fsad-hint-error {
  
  display: block;
  font-weight:normal;
  color: #a94442
}

.main-container { 
  padding: 2rem;
  margin-bottom: 4em;  
}

.fsad-margin-bottom-zero {
  
  margin-bottom: 0;
}

.fsad-footnote-margin {
 
  margin: 2rem 0 0 0;
}

.fsad-navbar {
 
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.sign-out-icon
{
  padding-right:5px;
}

@media ( min-width: 992px ) {
 
  .fsad-text-center-md {
 
    text-align: center; 
  } 
}

@media ( min-width: 768px ) {
 
  .fsad-button {
     
    width: auto;
  }
 
  .fsad-button-pair > div:first-child {
  
    text-align: right;
  }
  
  .fsad-button-pair > div:last-child {
  
    text-align: left;
  }
  
  .fsad-text-center-sm {
  
    text-align: center;  
  }

.footer
{
    background: #4E4E4E;
    font-size: 1em; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;        
    width: 100%;
    overflow:hidden;
    bottom: 0px;  
    position:absolute;    
    margin-left:-15px;  
}

:after,:before{box-sizing:border-box}

.logo
{
  width: 60px;
  height:54px;
  margin-top: 2px;
  margin-bottom: 5px;
}

.navfooterlogo
{
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer ul li a .icon,
.footer ul li a svg{width:.938em;height:.938em;fill:#fff;stroke:#fff;position:relative;top:3px;color:#fff;}
.footer ul li a .icon use>svg,
.footer ul li a svg use>svg{fill:#fff}

.header #skip-nav{position:absolute;left:100px;top:15px;width:120px}
.header #skip-nav{top:15}}
.header #skip-nav ul{list-style:none}
.header #skip-nav a{position:absolute;background:#fff;font-size:.6em;line-height:1;bottom:0}
.header #skip-nav a:active,.header #skip-nav a:focus{left:0;display:block}

.header .navbar-nav li .icon,
.header .navbar-nav li svg{width:.938em;height:.938em;fill:#fff;stroke:#fff;position:relative;top:3px}
.header .navbar-nav li .icon use>svg,
.header .navbar-nav li svg use>svg{fill:#fff}
}

.fsad-error-button {
 
  margin: 2rem 0 0 0;
  width: 100%;
}

.fsad-error-code {
 
  margin: 4rem 0 0 0;
  text-align: center;
}

.fsad-error-message,
.fsad-error-message-long {
 
  color: #A94442;
  font-weight: 700;
  margin: 0 0 2rem 0;
}

.fsad-error-title {
 
  margin: 0 0 3rem 0;
  text-align: center;
}

@media ( min-width: 768px ) {
 
  .fsad-error-button {
     
    width: auto;
  }
  
  .fsad-error-message {
  
    text-align: center;
  }
}