.wmsp-error-button {
 
  margin: 2rem 0 0 0;
  width: 100%;
}

.wmsp-error-code {
 
  margin: 4rem 0 0 0;
  text-align: center;
}

.wmsp-error-message,
.wmsp-error-message-long {
 
  color: #A94442;
  font-weight: 700;
  margin: 0 0 2rem 0;
  text-align: center;
}

.wmsp-error-title {
 
  margin: 0 0 3rem 0;
  text-align: center;
}

@media ( min-width: 768px ) {
 
  .wmsp-error-button {
     
    width: auto;
  }
  
  .wmsp-error-message {
  
    text-align: center;
  }
}